
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFF5F5;
}
main{
    margin: 0 auto;
    width: 90vw;
    
}
h2{
    text-align: center;
    padding: 2rem;
    margin: 1rem 0;
    font-size: 3rem;
}
div{
    font-size: 1.6rem;
    font-weight: 600;
}
.grid-container{
    display: flex;
    justify-content: center;
}
.grid{
    display: inline-grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    width: 90%;
    gap: 1rem 3rem;
    justify-content: center;
    /* margin: 0 auto; */
}
.separator{
    height: 2px;
    grid-column: 1 / span 2;
    background-color: #3c3c3c;
    align-self: center;
}
.continents-btns{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
    /* margin: 0 auto; */
}
.continent-btn{
    
    cursor: pointer;
}
.world{
    flex: 100%
}
.tabs__navbar{
    display: flex;
    width: 100%;
}
.tab{
    border: none;
    border-bottom: none;
    padding: 3px 1rem; 
    cursor: pointer;
    flex:1;
    font-family: inherit;
    background-color: #fff;
    color: #000;
}
.tabs__content{
    border: 1px solid gray;
    height: 300px;
    width: 100%;
}
.selected{
    background-color: indianred;
    color: #fff;
}
.country-stats{
    background-color: #C27676;
    display: flex;
    /* gap: 2rem; */
    justify-content: space-around;
    margin: 2rem 1rem;
    padding: 1rem;
    color: #fff;
}
.hidden{
    display: none;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
#chart{
    border: 1px solid indianred;
    width: 100%;
    padding: 2rem 0 1rem 0;
    margin-bottom: 1.5rem;
}
.btn{
    border: none;
    color: #fff;
    background-color: #838383;
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    
}